body {
  background-image: url("https://wallpapercave.com/wp/Z5vntgH.jpg");
  background-attachment: fixed;
  font-family: 'Playfair Display', serif;
}

.border-dashed {
  border-style: dashed;
  font-family: 'Playfair Display', serif;
}

.carousel-item {
  margin: auto;
}

.color-white {
  color: #fff;
}

.color-instagram {
  background: rgb(255,111,28);
  background: linear-gradient(90deg, rgba(255,111,28,1) 3%, rgba(201,69,92,1) 22%, rgba(193,57,210,1) 67%, rgba(0,70,255,1) 100%);
  color: white;
  border-radius: 50%/40%;
}

.contact-page {
  background-image: linear-gradient(to right,#770877ad, rgba(0, 0, 0, 0.74)), url("https://lh3.googleusercontent.com/proxy/g1dbnWKLBe1iTE3OSsrwO3nhJ3TrignZVSBM_J_alapFPR6iCDDqrIpbMAhN_MoecCsGMHEUmFe52fAmAvnJMzbSfaPcaL5niyp7N4O1EuWzAY_evIz9rvNNfGnofXpP74b-Tg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}

.gallery {
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  margin: auto;
  padding:.2rem;
  width: 150px;
  border-radius: 50%;
  margin-top: 1rem;
}

.gallery-1 {
  background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://media.wired.com/photos/5f592bfb643fbe1f6e6807ec/16:9/w_2400,h_1350,c_limit/business_chess_1200074974.jpg");

  
}

.gallery-2 {
  background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://m.economictimes.com/thumb/msid-71633105,width-3684,height-2068,resizemode-4,imgsize-550306/stocks-market.jpg");
}

.gallery-3{
   background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://cdn.mos.cms.futurecdn.net/MMwRCjVEaoJPP4dBBugWFY.jpg");
}

.gallery-4{
  background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://teenfinancialfreedom.com/wp-content/uploads/2020/09/the-power-of-reading.jpg");
}

.gallery-5{
  background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://i.pcmag.com/imagery/articles/00vBFf1SA2qXbDmKwirlkhT-7..1584969078.jpg");
}

.gallery-6{
  background-image: linear-gradient(to bottom,#770877ad, rgba(0, 0, 0, 0.74)), url("https://www.guidetoelevate.com/wp-content/uploads/2018/03/Feast-small-900x630.jpeg");
}

.glow {
  color: rgb(236, 141, 248);
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e600d3, 0 0 40px #e600d3, 0 0 50px #e600d3, 0 0 60px #e600d3, 0 0 70px #e600d3;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

.hand {
  background-image: url("../images/hand.png");
  width: 30rem;
  height: 10rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  z-index: 4;
  left: -9rem;
}

.header {
  background-color: #770877ad;
}

.home-image {
  background-image: url("https://scontent.fmnl4-2.fna.fbcdn.net/v/t1.0-9/121630169_3694911607239549_8266715089266437231_n.jpg?_nc_cat=101&ccb=2&_nc_sid=09cbfe&_nc_eui2=AeGz5vUiFVPvaGWdGPrTLMfUUyGxByG8Nn9TIbEHIbw2f1NTLbcI3hYiMQuy1nEnrWi9Twu2MdNnJYvBS6NR1ctj&_nc_ohc=ypxtPXKe7yAAX9gkItE&_nc_ht=scontent.fmnl4-2.fna&oh=10e85970c9e9405d4fdf5b2525a4ea18&oe=60343143");
  height: 150px;
  width: 150px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  border-radius: 50%;
  margin: auto;
}

.home-passage {
  background-image: linear-gradient(to right,#770877ad, rgba(0, 0, 0, 0.74));
  font-family: 'Playfair Display', serif;
  letter-spacing: .1rem;
}

img {
  border-radius: 50%;
}

.jumbotron {
  background-image: linear-gradient(to right,#770877ad, rgba(0, 0, 0, 0.74)), url("https://wallpaperaccess.com/full/2540892.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.orb {
  display: inline-block;
  height: 600px;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background-size: auto 100%;
  
}

.text-large {
  font-size: 80px;
}

.topic {
  letter-spacing: .6rem;
}

#carouselContent {
  background: radial-gradient(circle at 100px 100px, #e284e5, #000);
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin: auto;  
  font-size: .7rem;
  position: relative;
  top: 6rem;
}

.carousel-inner {
  position: relative;
  width: 100%;
}

.carousel-item {
  position: relative;
  display: none;
  -webkit-transition: 15s ease-in-out left;
  -moz-transition: 15s ease-in-out left;
  -o-transition: 15s ease-in-out left;
  transition: 15s ease-in-out left;
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev{
    display:block;
}

.fade-out {
  animation: fadeOut ease 10s;
  -webkit-animation: fadeOut ease 10s;
  -moz-animation: fadeOut ease 10s;
  -o-animation: fadeOut ease 10s;
  -ms-animation: fadeOut ease 10s;
}
@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}
.fade-in {
  animation: fadeIn ease 6s;
  -webkit-animation: fadeIn ease 6s;
  -moz-animation: fadeIn ease 6s;
  -o-animation: fadeIn ease 6s;
  -ms-animation: fadeIn ease 6s;
}

@keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity:0;
  }
  100% {
    opacity:1;
  }
}

.shadow-image {
  background-image: url("../images/shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 500px;
  height: 500px;
}